.button {
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  border: var(--border) 3px solid;
  background: var(--button-background);

  &:active {
    background-color: var(--button-background)aa;
  }

  &_wide {
    grid-column: span 2;
  }

  &_accent {
    background: var(--accent);
    color: var(--font-accent);
  }
}
