.button {
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  border: var(--border) 3px solid;
  background: var(--button-background);
  position: relative;

  &:focus {
    transform: translateY(2px);
  }

  @media (hover: none) {
    &:after {
      display: none;
    }
  }

  &:hover {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      border-radius: 7px;
      background-color: var(--font-primary);
      opacity: 0.1;
    }
  }

  &_wide {
    grid-column: span 2;
  }

  &_accent {
    background: var(--accent);
    color: var(--font-accent);
  }
}
